<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <h1>Registro de Comentarios</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4 bg-primary">
            <div *ngFor="let card of listaDatos">
                <app-lista-comentarios [data]="card"></app-lista-comentarios>
            </div>
        </div>
        <div class="col-4 bg-danger">
            <app-editar-comentario></app-editar-comentario>
        </div>
        <div class="col-4 bg-primary">
            <app-add-comentario></app-add-comentario>
        </div>
    </div>
</div>