<div class="container">
    <div class="row">
        <h1>Formularios Reactivos</h1>
    </div>
   <!--  <form [formGroup]="form">
        <div formArrayName="arrayForm"> 
            <div *ngFor="let x of arrayForm.controls; let i=index">
                <div [formGroupName]="i" class="row align-items-center form-group-set">
                    <div class="col-6">
                        <input 
                        type="text"
                        class="form-control"
                        placeholder="Nombre"
                        name="nombre"
                        formControlName="nombre"/>
                    </div>
                    <div class="col-5">
                        <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                        name="email"
                        formControlName="email"/>
                    </div>
                    <div class="col-1">
                        <i
                            class="fas fa-times-circle text-danger"
                            (click)="removeItem(i)"
                        ></i>
                    </div>
                </div>
            </div>
        </div>
        
        <button
            class="btn btn-primary form-buttons"
            type="button"
            (click)="addItem()">
            Añadir
        </button>
        <button
            class="btn btn-primary form-buttons"
            type="submit"
            (click)="onSubmit()">
            Enviar
        </button>
    </form> -->
</div>


